html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error
{
    color: red;
    font-weight: 600;
}

.close-alert
{
    position:absolute;
    right:-10px;
    top:-15px;
    border-radius: 15px;
    width: 25px;
    height: 27px;
}

.div-table{
    padding: 1rem;
   
}

.mouse-disable{
    cursor: not-allowed;
}