@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Atenção</h1>
    <p>Seu usuário não tem acesso á essa página. <a asp-controller="Home" asp-action="Index">Clique aqui para voltar.</a></p>
</div>
